.nav {
  height: 70px;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.nav h2 {
  color: #38bdf8;
}

.nav a {
  margin-left: 20px;
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: #38bdf8;
}
.footer {
  text-align: center;
  padding: 20px;
  color: #9ca3af;
  background: #020617;
  margin-top: 40px;
}
